<div class="margin-section-powered" >
  <div class="container">
    <hr>
    <div class="row" style="position: relative;">
    
        <div class="col-lg-7 col-md-8 col-sm-7 col-xs-10 center-div-section" >
          
            <div class="row">

                <div class="col-md-6 col-xs-12">
                    <div  style="display: flex;align-items: center;">
                        <span >
                            <img src="../../../../assets/landing page/DHCbzDp1_400x400.jpg" class="img-powered">
                       </span>
                       <span >
                           
                              <h1 class="font-description-about" style="margin-left: 10px;">Powered By </h1>
                           
                        
                               <h1 class="font-title-initiatives" style="margin-left: 10px;margin-top: -5px;">AWS Community Beirut</h1>
                         
   
                       </span>

                    </div>
                  
                </div>
                <div class="col-md-6 col-xs-12">
                    <div style="display: flex;align-items: center;">
                        <span >
                            <img src="../../../../assets/landing page/16710756.png" class="img-powered">
                       </span>
                       <span >
                           
                              <h1 class="font-description-about" style="margin-left: 10px;">Supported by  </h1>
                           
                        
                               <h1 class="font-title-initiatives" style="margin-left: 10px;margin-top: -5px;">MENA Devs</h1>
                         
   
                       </span>

                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
</div>
