<div class="">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-5  col-md-6 col-md-push-6 " style="margin-bottom: 20px;">
                <h2 class="font-title-carousel font-title-carousel-t text-left marginTopTitleProp">What is our purpose?</h2>
                <p class="font-description-about text-left " style="margin-top: px;">
                    With so many sad and tragic events happening to our country, we want to be the 
                    link with everyone who wants to help and doesn't know how and those who need help and don't know where to ask.
                </p>
            </div>
            <div class="intro-text col-lg-7 col-md-6  col-md-pull-6">
              
               
                <img class="img-responsive" 
                src="./../../../../assets/pictures/img-prop.png" />
               
            </div>

         

         
        </div>
    </div>
</div>
