<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6 col-sm-2">
            <select class="form-control" [(ngModel)]="filter" (change)="refresh()">
                <option *ngFor="let _filter of filters" [value]="_filter">
                    {{_filter | titlecase}}
                </option>
            </select>
        </div>
        <div class="col-xs-1 col-sm-6"></div>
        <div class="col-xs-5 col-sm-4 input-group">
            <span class="input-group-addon" (click)="refresh()">
                <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control" [(ngModel)]="keyword" (change)="refresh()"
                placeholder="Search for specific needs">
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <sos-lookup-data class="col-xs-12" *ngFor="let element of data" [data]="element" [showUser]="true">
            </sos-lookup-data>
        </div>
    </div>
</div>