.data-image {
  text-align: center;
  border-radius: 100%;
}

.case-data {
  margin-bottom: 15px;
  padding: 30px 25px 15px;
  border-bottom: 1px solid lightgrey;
  text-align: left;
  font-size: 20px;
}

.case-data i {
  font-size: 24px;
}

.case-data .data-image img {
  height: 150px;
  width: auto;
  margin: auto;
}

.case-data .data-name {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
}

.case-data .data-title {
  font-size: 25px;
  font-weight: 600;
}

.case-data p {
  font-weight: normal;
}

.case-data .data-fulfill {
  width: 20px;
  height: 20px;
}

.case-data .case-links {
  line-height: 45px;
}

.case-data .case-actions a + a {
  margin-left: 30px;
}


.case-data .case-social-actions {
  text-align: left;
  color: var(--color-dark-grey);
}

.case-data .case-social-actions a {
  margin-left: 40px;
  color: var(--color-dark-grey);
}



@media (max-width: 768px) {
  .case-data .data-name {
    font-size: 28px;
  }

  .case-data .case-social-actions {
    text-align: center;
  }

  .case-data .case-social-actions a {
    margin-left: 20px;
  }

}
