<div class="intro-header">
    <div class="container">
        <br>
        <div class="row">
            <div class="intro-text col-lg-5 col-md-6">
                <h2 class="font-title-carousel font-title-carousel-t text-left">We see the opportunity to make a difference.</h2>
                <p class="font-description-home text-left " style="margin-top: px;">
                    Hand in hand, towards a better Lebanon. We're here to help everyone in need and open an opportunity
                    for being a helping hand in these tough times.
                </p>
                 <div class="text-left " style="margin-top: 23px;"  >
                    <a *ngIf="!isSecure" [routerLink]="['/home/register']" class="btn  btn-lg font-description-home text-left " style="background-color: #2C2627;    padding-left: 30px;
                    padding-right: 30px;">
                        Volunteer
                    </a>

                 </div>
               
            </div>

            <div class="col-lg-7 padding-col " style="margin-bottom: 20px;">
                <img class="img-responsive" 
                    src="./../../assets/landing page/pictures/landing page.png" />
            </div>

         
        </div>
    </div>
</div>
