<div class="modal modal-delete fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left color-red">Delete Listing</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.modal('hide')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body color-black">
                Are you sure you wish to delete listing <span class="color-red">{{data.title}}</span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="deleteListing()">Yes</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fulfill fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left color-red">Fulfill Listing</h4>
                <button type="button" class="close pull-right" aria-label="Close"
                    (click)="data.fulfilled = !data.fulfilled; fulfillModal.modal('hide')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body color-black">
                Are you sure you wish to fulfill listing <span class="color-red">{{data.title}}</span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="fulfillListing()">Yes</button>
                <button type="button" class="btn btn-light"
                    (click)="data.fulfilled = !data.fulfilled; fulfillModal.modal('hide')">No</button>
            </div>
        </div>
    </div>
</div>

<div class="listing-data col-xs-12 row">
    <span class="col-xs-2 col-md-1 data-image">
        <img alt="{{data.typeId}}" title="{{data.typeId}}"
            onerror="this.onerror=null;this.src='./assets/landing page/pictures/not found.png'" width="60"
            src="./../../../assets/landing page/pictures/{{data.typeId?.toLocaleLowerCase()}}.png" />
    </span>
    <div class="col-xs-10 col-md-11">
        <section class="data-text color-black col-xs-12 col-md-9 col-lg-10">
            <span class="text-overflow-2 data-title">{{data.title}}</span>
            <p class="text-overflow-2">{{data.description}}</p>
            <span *ngIf="showUser">
                <i class="fa fa-user"></i>&nbsp;&nbsp;{{data.userInfo.given_name}} {{data.userInfo.family_name}}
            </span>
            <span class="color-red" *ngIf="!showUser">
                Listed in &nbsp;
                <img width="20" height="auto" alt="{{data.typeId}}" title="{{data.typeId}}"
                    onerror="this.onerror=null;this.src='./assets/landing page/pictures/not found.png'"
                    src="./../../../assets/landing page/pictures/{{data.typeId?.toLocaleLowerCase()}}.png" />
                &nbsp;<em>{{data.typeId}}</em>
            </span>
        </section>
        <div class="data-text col-xs-12 col-md-3 col-lg-2 color-black">
            <div class="color-red" *ngIf="showActions">
                <a class="link-unstyled" [routerLink]="['/home/listings/' + data.id]">
                    <i class="fa fa-2x fa-pencil"></i>&nbsp;&nbsp;
                </a>
                <i class="fa fa-2x fa-trash" (click)="delete()"></i>
                <br>
                <div class="form-check">
                    <label class="form-check-label" for="fulfilled">Mark as fulfilled</label>&nbsp;
                    <input type="checkbox" class="data-fulfill form-check-input" id="fulfilled"
                        [(ngModel)]="data.fulfilled" (change)="fulfill()">
                </div>
            </div>
            <span *ngIf="!showActions">
                <a class="no-padding link-unstyled col-xs-6 col-md-12" target="_blank"
                    href="https://maps.google.com/?q={{data.location}}">
                    <i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{data.location}}
                </a>
                <a href="tel:{{data.phone}}" class="no-padding link-unstyled col-xs-6 col-md-12" target="_blank">
                    <i class="fa fa-phone"></i>&nbsp;&nbsp;{{data.userInfo.phone_number}}
                </a>
            </span>
        </div>
    </div>
</div>