.listing-data {
  padding: 0 25px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgrey;
  text-align: left;
  font-size: 20px;
}

.listing-data i {
  font-size: 24px;
}

.listing-data .data-image {
  max-width: 85px;
}

.listing-data .data-title {
  font-size: 25px;
  font-weight: 600;
}

.listing-data p {
  font-weight: normal;
}

.listing-data .data-fulfill {
  width: 20px;
  height: 20px;
}
