<div class="col-xs-12 row">
  <div class="col-lg-2 col-md-2"></div>
  <div class=" col-lg-8 col-md-8 col-sm-12">
    <form class="form-listing" method="POST" action="#" role="form" [formGroup]="form" (ngSubmit)="onSaveListing()">
      <div class="form-heading">
        <h1>Who are we helping today?</h1>
        <p>Please fill your case information below</p>
      </div>
      <div *ngIf="errorMessage != null" class="alert alert-error">
        {{ errorMessage }}
      </div>
      <div class="row">
        <div class="form-group col-xs-12" [class.has-error]="submitted && form.controls['contactName'].invalid">
          <label class="control-label">Contact Name</label>
          <input type="text" maxlength="50" class="form-control" formControlName="contactName" placeholder="John Doe">
        </div>
        <div class="form-group col-xs-12" [class.has-error]="submitted && form.controls['contactEmail'].invalid">
          <label class="control-label">Email</label>
          <input type="text" maxlength="100" class="form-control" formControlName="contactEmail"
            placeholder="hello@word.com">
        </div>
        <div class="form-group col-xs-12" [class.has-error]="submitted && form.controls['contactPhone'].invalid">
          <label class="control-label">Contact Phone number</label>
          <div class="col-xs-12 row">
            <ngx-intl-tel-input [inputId]="'contact-phone-number'" [cssClass]="'custom form-control'"
              [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
              [searchCountryField]="['iso2', 'name']" [selectFirstCountry]="false" [selectedCountryISO]="'lb'"
              [maxLength]="15" [tooltipField]="'name'" [separateDialCode]="true" [phoneValidation]="true"
              name="contactPhone" formControlName="contactPhone">
            </ngx-intl-tel-input>
          </div>
        </div>
        <div class="form-group col-xs-12" [class.has-error]="submitted && form.controls['category'].invalid">
          <label class="control-label">Category</label>
          <select formControlName="category" class="form-control">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
        <div class="form-group col-xs-12">
          <label class="control-label">Location</label>
          <select formControlName="location" class="form-control">
            <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
          </select>
        </div>
      </div>
      <div class="row" [class.has-error]="submitted && form.controls['description'].invalid">
        <div class="form-group col-xs-12">
          <label class="control-label">Who needs help</label>
          <textarea class="form-control" formControlName="description" placeholder="Who needs help"></textarea>
        </div>
      </div>
      <div class="row" [class.has-error]="submitted && form.controls['helpDescription'].invalid">
        <div class="form-group col-xs-12">
          <label class="control-label">How can we help</label>
          <textarea class="form-control" formControlName="helpDescription" placeholder="How can we help"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label class="control-label">Add your social media accounts</label>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="input-group">
                <span class="input-group-addon input-transparent">
                  <img height="15" src="./../../../assets/pictures/facebook colored.png">
                </span>
                <input type="text" maxlength="100" class="form-control" formControlName="facebookAccount"
                  placeholder="Facebook">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="input-group">
                <span class="input-group-addon input-transparent">
                  <img height="15" src="./../../../assets/pictures/instagram colored.png">
                </span>
                <input type="text" maxlength="100" class="form-control" formControlName="instagramAccount"
                  placeholder="Instagram">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="input-group">
                <span class="input-group-addon input-transparent">
                  <img height="15" src="./../../../assets/pictures/twitter colored.png">
                </span>
                <input type="text" maxlength="100" class="form-control" formControlName="twitterAccount"
                  placeholder="Twitter">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="input-group">
                <span class="input-group-addon input-transparent">
                  <img height="15" src="./../../../assets/pictures/linkedin colored.png">
                </span>
                <input type="text" maxlength="100" class="form-control" formControlName="linkedInAccount"
                  placeholder="LinkedIn">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
          <label class="control-label">Image(s)</label>
          <br>
          <input #fileBtn multiple type="file" class="hidden custom-file-input" formControlName="images" />
          <img height="80" src="./../../../assets/pictures/add picture.png" (click)="fileBtn.click()">
          <span *ngIf="fileBtn.value && fileBtn.value.indexOf('\\') !== -1">
            {{fileBtn.value.split('\\')[fileBtn.value.split('\\').length - 1]}}
          </span>
        </div>
      </div>
      <div class="form-group pull-right">
        <button id="signupSubmit" type="submit" class="btn btn-default" style="width: 200px;">
          <i class="fa fa-send"></i> &nbsp;Submit
        </button>
      </div>
    </form>
  </div>
</div>