<div class="">
    <div class="container">
        
        <div class="row">
            <div class="intro-text col-lg-7 col-md-6 ">
                <h1 class="font-title-carousel font-title-carousel-t text-left marginTopTitleQa">Frequently Asked Questions</h1>
                <h2 class="font-size-sub-title" style="margin-top:-10px;">Here's a list of frequently asked questions that might help you.</h2>
                <div class="panel-group" id="accordion" style="margin-top:40px;">
                  
                  
                    <div class="panel " style="margin-top:20px;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed font-size-title-tab" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How can I use this website to help Lebanon?</a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body font-size-des-tab-panel">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                 At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </div>
                        </div>
                    </div>
                    <div class="panel " style="margin-top:20px;" >
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed font-size-title-tab" data-toggle="collapse" data-parent="#accordion1" href="#collapseTen1">How can I use this website to help Lebanon?</a>
                            </h4>
                        </div>
                        <div id="collapseTen1" class="panel-collapse collapse">
                            <div class="panel-body font-size-des-tab-panel">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                 At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </div>
                        </div>
                    </div>
                    <div class="panel " style="margin-top:20px;" >
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed font-size-title-tab" data-toggle="collapse" data-parent="#accordion3" href="#collapseTen3">How can I use this website to help Lebanon?</a>
                            </h4>
                        </div>
                        <div id="collapseTen3" class="panel-collapse collapse">
                            <div class="panel-body font-size-des-tab-panel">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                 At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </div>
                        </div>
                    </div>
                    <div class="panel "  style="margin-top:20px;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed font-size-title-tab" data-toggle="collapse" data-parent="#accordion4" href="#collapseTen4">How can I use this website to help Lebanon?</a>
                            </h4>
                        </div>
                        <div id="collapseTen4" class="panel-collapse collapse">
                            <div class="panel-body font-size-des-tab-panel">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                 At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </div>
                        </div>
                    </div>
                    <div class="panel " style="margin-top:20px;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed font-size-title-tab" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen2">How can I use this website to help Lebanon?</a>
                            </h4>
                        </div>
                        <div id="collapseTen2" class="panel-collapse collapse">
                            <div class="panel-body font-size-des-tab-panel">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                 At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </div>
                        </div>
                    </div>
                 
            
                   
                </div>
             
               
               
            </div>

            <div class="col-lg-5  col-md-6 marginTopTitleQa ">
              
                        <img class="img-responsive" 
                        src="./../../../../assets/pictures/imageQa.png" />

                  
                
                        
                  
               
             
           
            </div>
         
           
         
        </div>
    </div>
</div>
