<div class="">
    <div class="container">
        <br>
        <div class="row">
            <div class="intro-text col-lg-5 col-md-6 ">
                <h2 class="font-title-carousel font-title-carousel-t text-left marginTopTitle">Who are we?</h2>
                <p class="font-description-about text-left " style="margin-top: px;">
                    We are a group of techies in Lebanon that wants to contribute in making our country a better place. 
                    So we gathered ourselves and decided to launch this project  that would help our people.
                </p>
               
               
            </div>

            <div class="col-lg-7  col-md-6 " style="margin-bottom: 20px;">
              
                        <img class="img-responsive" 
                        src="./../../../../assets/pictures/laptopp.png" />

                  
                
                        
                  
               
             
           
            </div>
         
           
         
        </div>
    </div>
</div>
<!-- <div class="left">
  

  </div> -->
