<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="text-left color-black col-xs-12 col-md-3">
            <h2>Welcome back, {{username}}!</h2>
            <p>Here's all the ways of help you uploaded</p>
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="col-xs-9 col-lg-10">
                <div class="input-group">
                    <span class="input-group-addon" (click)="refresh(false)">
                        <i class="fa fa-search"></i>
                    </span>
                    <input type="text" class="form-control" [(ngModel)]="keyword" (change)="refresh(false)"
                        placeholder="Search your uploads">
                </div>
            </div>
            <a class="btn btn-dark" [routerLink]="['/home/listings/0']">
                <i class="fa fa-plus"></i>
                &nbsp;Add New&nbsp;
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <app-listing-entry class="col-xs-12" *ngFor="let element of data.result.Items" [data]="element"
            [showActions]="true" (onDelete)="onDelete($event)">
        </app-listing-entry>

        <button class="btn btn-default" *ngIf="data.result.LastEvaluatedKey && data.result.LastEvaluatedKey.id"
            (click)="loadMore()">
            Load More
        </button>
    </div>
</div>