.case-data {
  padding: 0 25px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgrey;
  text-align: left;
  font-size: 20px;
}

.case-data i {
  font-size: 24px;
}

.case-data .data-image img {
  height: 150px;
  width: auto;
}

.case-data .data-title {
  font-size: 25px;
  font-weight: 600;
}

.case-data p {
  font-weight: normal;
}

.case-data .data-fulfill {
  width: 20px;
  height: 20px;
}

.case-data .case-links {
  line-height: 45px;
}

.case-data .case-actions a + a {
  margin-left: 30px;
}