<div class="modal modal-delete fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left color-red">Delete Case</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.modal('hide')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body color-black">
                Are you sure you wish to delete case?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="deleteCase()">Yes</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fulfill fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left color-red">Fulfill Case</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="fulfillModal.modal('hide')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body color-black">
                Are you sure you wish to fulfill case?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="fulfillCase()">Yes</button>
                <button type="button" class="btn btn-light" data-dismiss="modal"
                    (click)="data.fulfilled = !data.fulfilled; fulfillModal.modal('hide')">No</button>
            </div>
        </div>
    </div>
</div>

<div class="case-data col-xs-12 row">
    <span class="col-xs-12 col-sm-12 col-lg-2 data-image">
        <ngb-carousel *ngIf="data.images" [showNavigationArrows]="true" [showNavigationIndicators]="true">
            <ng-template ngbSlide *ngFor="let image of data.images; let index=index">
                <img [src]="image" alt="Image {{index + 1}}">
            </ng-template>
        </ngb-carousel>
        <img *ngIf="!data.images || data.images === []" alt="{{data.category}}" title="{{data.category}}" width="60"
            src="./../../../assets/landing page/pictures/not found.png" />
    </span>
    <div class=" col-xs-12 col-sm-12  col-lg-10">
        <section class="data-text color-black col-xs-12 col-md-9 col-lg-10">
            <div class="row">
                <span class="text-overflow-2 data-title">
                    Who we are helping?
                    <span class="case-social-actions">
                        <a *ngIf="data.facebookAccount" class="badge badge-primary" target="_blank"
                            href="{{data.facebookAccount? 'https://facebook.com/' + data.facebookAccount : 'javascript:void(0)'}}">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a *ngIf="data.instagramAccount" class="badge badge-primary" target="_blank"
                            href="{{data.instagramAccount? 'https://instagram.com/' + data.instagramAccount : 'javascript:void(0)'}}">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a *ngIf="data.twitterAccount" class="badge badge-primary" target="_blank"
                            href="{{data.twitterAccount? 'https://twitter.com/' + data.twitterAccount : 'javascript:void(0)'}}">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a *ngIf="data.linkedInAccount" class="badge badge-primary" target="_blank"
                            href="{{data.linkedInAccount? 'https://linkedin.com/' + data.linkedInAccount : 'javascript:void(0)'}}">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </span>
                </span>
                <p class="text-overflow-2">{{data.description}}</p>
            </div>
            <div class="row">
                <span class="text-overflow-2 data-title">
                    How can we help?
                </span>
                <p class="text-overflow-2">{{data.helpDescription}}</p>
            </div>

            <div class="row color-red" *ngIf="showInitiative">
                Posted by
                <b *ngIf="data.initiative">
                    <a class="link-unstyled" [routerLink]="['/home/initiatives/' + data.initiative.pk]">
                        {{data.initiative.name}}
                    </a>
                </b>
                <span *ngIf="!data.initiative">Unknown</span>
            </div>
        </section>
        <div class="data-text col-xs-12 col-md-3 col-lg-2 color-red">
            <div *ngIf="showActions && !data.fulfilled" class="case-actions row">
                <a class="link-unstyled" [routerLink]="['/home/cases/' + data.id]">
                    <i class="fa fa-2x fa-pencil"></i>&nbsp;&nbsp;
                </a>
                <a class="link-unstyled" (click)="delete()">
                    <i class="fa fa-2x fa-trash"></i>
                </a>
                <div class="hidden-xs" style="height: 50px"></div>
                <div class="form-check">
                    <label class="form-check-label" for="fulfilled">Mark as fulfilled</label>&nbsp;
                    <input type="checkbox" class="data-fulfill form-check-input" name="fulfilled"
                        [(ngModel)]="data.fulfilled" (change)="fulfill()">
                </div>
            </div>
            <span class="case-links" *ngIf="!showActions">
                <a class="no-padding link-unstyled col-xs-6 col-md-12 text-overflow">
                    <i class="fa fa-user"></i>&nbsp;&nbsp;{{data.contactName}}
                </a>
                <a href="tel:{{data.phone}}" class="no-padding link-unstyled col-xs-6 col-md-12 text-overflow"
                    target="_blank">
                    <i class="fa fa-phone"></i>&nbsp;&nbsp;{{data.contactPhone}}
                </a>
                <a class="no-padding link-unstyled col-xs-6 col-md-12 text-overflow" target="_blank"
                    href="mail:{{data.contactEmail}}">
                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;{{data.contactEmail}}
                </a>
                <a class="no-padding link-unstyled col-xs-6 col-md-12 text-overflow" target="_blank"
                    href="https://maps.google.com/?q={{locations[data.location]}}">
                    <i class="fa fa-map-marker"></i>&nbsp;&nbsp;
                    <span *ngIf="locations">
                        {{locations[data.location]}}
                    </span>
                </a>
            </span>
        </div>
    </div>
</div>