<div class="container">
    <h1 class="font-title-carousel font-title-carousel-t text-left marginTopTitleQa text-center">Contact Us</h1>
    <h2 class="font-size-sub-title text-center" style="margin-top:-10px;">Send us a message!</h2>
    <div class="row" style="margin-top:30px;">
        <div class="form-group col-lg-6 col-md-12 col-sm-12" >
            <label class="control-label"> Name</label>
            <input type="text" maxlength="50" class="form-control" formControlName="name" placeholder="Name">
        </div>
        <div class="form-group col-lg-6 col-md-12 col-sm-12" >
            <label class="control-label"> Email</label>
            <input type="text" maxlength="50" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group col-lg-6 col-md-12 col-sm-12" >
            <label class="control-label">Phone Number</label>
            <input type="text" maxlength="50" class="form-control" formControlName="phoneNumber" placeholder="Phone Number">
        </div>
        <div class="form-group col-lg-6 col-md-12 col-sm-12" >
            <label class="control-label"> Subject</label>
            <input type="text" maxlength="50" class="form-control" formControlName="subject" placeholder="Subject">
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12" >
            <label class="control-label">Message</label>
            <textarea class="form-control" formControlName="message"
            placeholder="Message"></textarea>
       
        </div>
        <div class="text-right form-group col-lg-12 col-md-12 col-sm-12 " style="">
            <button  type="submit" class="btn btn-default"  style="width: 200px;margin-top:20px;">
                <i class="fa fa-send"></i> &nbsp;Message
              </button>
        </div>
     
      
       
    </div>
</div>
