<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6 col-sm-2">
            <select class="form-control" [(ngModel)]="type" (change)="refresh()">
                <option *ngFor="let type of types" [value]="type.name">
                    {{type.name | titlecase}}
                </option>
            </select>
        </div>
        <div class="col-xs-1 col-sm-5"></div>
        <div class="col-xs-3 col-sm-3 ">
            <div class="input-group">
            <span class="input-group-addon" (click)="refresh()">
                <i class="fa fa-search"></i>
            </span>
                <input type="text" class="form-control" [(ngModel)]="keyword" (change)="refresh()"
                       placeholder="Search for specific needs">
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 ">
            <button class="btn btn-dark btn-rounded" [routerLink]="'/home/listings/0/'"><i class="fa fa-plus"></i>&nbsp; Add new</button>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <sos-listing-entry class="col-xs-12" *ngFor="let element of data" [data]="element" [showUser]="true">
            </sos-listing-entry>
        </div>
    </div>

</div>
