<div class="backgrond-img-join" style="background-image: url('../../../../assets/pictures/img-join.png');">
    <div class="container "  >
        <div class="row" style="position: relative;"  >
            <div class="col-md-6  col-sm-9 col-xs-12 col-lg-5 centerJoin" >
                <h2 class="font-title-carousel font-title-carousel-t  text-center text-white marginTopTitleJoin">How can you join us?</h2>
            <h1 class="text-center text-white font-description-about">If you would like to contribute with us, reach out to us by sending us an email to <b>example@email.com</b> </h1>
            <p class="text-center text-white font-description-about " style="margin-top:20px;">Or by submitting your email below</p>
         
         
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control  font-description-about" placeholder="example@email.com" >
                        <span class="input-group-addon btn btn-default font-description-about" id="sizing-addon1">
                            <i class="fa fa-send"></i> &nbsp;Submit
                        </span>
       
                      </div>
                   
            
           
            </div>
            

        </div>

    </div>

</div>
