ngb-carousel {
  max-width: 700px;
  height: 200px;
}

ngb-carousel:focus {
  outline: 0 !important;
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active {
  display: flex !important;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  z-index: 20;
}


.carousel-control-next {
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}

.carousel-indicators li {
  border-color: var(--default-text-color);
}

.carousel-indicators li.active {
  background-color: var(--default-text-color);
}
