.color-red {
  color: var(--color-red);
}

.color-black {
  color: var(--color-black);
}

.color-grey {
  color: var(--color-grey);
}


.btn[class*='btn-'] {
  color: var(--color-grey);
  text-shadow: none;
  border: none;
  font-size: 20px;
}

.btn[class*='btn-']:hover {
  opacity: 0.8;
}

.btn-default,
.btn-default:hover,
.btn-default:active {
  background: #BC2C3D;
}

.btn-dark,
.btn-dark:hover,
.btn-dark:active {
  background: rgb(45, 38, 38);
}

.btn-light,
.btn-light:hover,
.btn-light:active {
  background: var(--color-grey);
  color: var(--color-black) !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: var(--color-red) !important;
}

.multiselect-item-checkbox input[type=checkbox]+div:before {
  color: var(--color-red) !important;
  border-color: var(--color-red) !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  background: var(--color-red) !important;
  border-color: var(--color-red) !important;
}