<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <img src="./../../assets/landing page/pictures/logo sos.png" width="auto" height="57" />
            </a>
        </div>
        <div class="collapse navbar-collapse row" id="header">
            <a *ngIf="!isSecure" [routerLink]="['/home/login']" class="col-sm-1 pull-right btn btn-default btn-lg">
                Login
            </a>

            <a *ngIf="isSecure" (click)="logout()" class="col-sm-1 pull-right btn btn-default btn-lg">
              Logout
            </a>
            <div *ngIf="!isSecure" class="col-sm-9 pull-right">
                <ul class="header nav navbar-nav col-sm-12">
                    <li class="col-sm-3">
                        <a [routerLink]="['/home/register']">
                            Volunteer
                        </a>
                    </li>
                    <!--
                        <li class="col-sm-3">
                        <a [routerLink]="['/home/login']">
                            Who We Are
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a [routerLink]="['/home/login']">
                            Q&A
                        </a>
                    </li>
                -->
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="intro-header">
    <router-outlet></router-outlet>
</div>
