<div class="intro-header">
    <div class="container">
        <br>
        <div class="row">
            <div class="intro-text col-lg-3 col-xs-12">
                <h2>We see the opportunity to make a difference.</h2>
                <p>
                    Hand in hand, towards a better Lebanon. We're here to help everyone in need and open an opportunity
                    for being a helping hand in these tough times.
                </p>

                <a *ngIf="!isSecure" [routerLink]="['/home/register']" class="btn btn-dark btn-lg">
                    Volunteer
                </a>
            </div>

            <div class="col-lg-9 col-xs-12" style="margin-bottom: 20px">
                <img class="col-xs-12 col-lg-10 col-lg-offset-1" height="auto"
                    src="./../../assets/landing page/pictures/landing page.png" />
            </div>

            <div class="col-xs-12">
                <div class="col-xs-1"></div>
                <div class="col-xs-10 buttons-list">
                    <div class="listing-type col-xs-12 col-sm-6 col-lg-3" *ngFor="let type of types">
                        <a class="btn btn-light link-unstyled" [routerLink]="['/home/listings']"
                            [queryParams]="{ type: type.name }">
                            <img [src]="type.image" width="auto" height="40"
                                onerror="this.onerror=null;this.src='./assets/landing page/pictures/not found.png'" />
                            <br>
                            <b class="text-overflow" [title]="type.name">{{type.name}}</b>
                            <br>
                            <em class="text-wrap" [title]="type.description">{{type.description}}</em>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>