<div class="backgroundFooter">
    <div class="container marginTopFooter">
        <div class="row text-center">
            <div class=" col-lg-2">
                <img src="../../../assets/landing page/logoFooter.svg" class="sizeLogoFooter">
            </div>
            <div class="col-lg-10">
                <h2 class="color-text-white font-text-footer text-left">If you would like to contribute with us, reach
                    out to us by sending us an email to <b class="text-left">example@email.com</b> </h2>
            </div>
        </div>

    </div>
</div>
<div class="backgrond-copy-right">
    <div class="container">
        <h1 class="text-center font-text-footer" style="    margin-top: 11px;">Copyright&copy;2020</h1>
    </div>

</div>